

<div background="http://www.bolterandchainsword.com/public/style_images/carbon_red/background.jpg">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="/">Ras Fashion</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/Home/About">About</a></li>
                    <li><a  href="/about">Contact</a></li>

                </ul>

             <!--  <div class="btn-group" dropdown is-open="status.isopen style=" height:4px">
                    <button id="single-button" type="button" class="btn btn-primary" dropdown-toggle ng-disabled="disabled" style="margin-top:5%">
                        Catagory <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                        <li role="menuitem"><a href="#">Dresses</a></li>
                        <li role="menuitem"><a href="#">shirt & Tops</a></li>
                        <li role="menuitem"><a href="#">shoese</a></li>
                        <li class="divider"></li>
                        <li role="menuitem"><a href="#">Entertainment</a></li>
                    </ul>
                </div>
               --> 

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/cart" id="cartLink">MyCart</a></li>
                    <li><a href="/register" id="registerLink">Registers</a></li>
                    <li><a href="/login" id="loginLink">Log in</a></li>
                </ul>

            </div>

        </div>
    </div>
    </div>







  <!--  <div class="carousel slide" id="carousel-72530" style="margin-top:3% ; width:100%" >
    <ol class="carousel-indicators">
        <li class="active" data-slide-to="0" data-target="#carousel-72530">
        </li>
        <li data-slide-to="1" data-target="#carousel-72530">
        </li>
        <li data-slide-to="2" data-target="#carousel-72530">
        </li>
    </ol>
        <div class="carousel-inner" style="margin-top:3% ; width:100%">
            <div class="item active">
                <img alt="Carousel Bootstrap First" src="http://www.dimyourlights.info/sky2.png" />
                <div class="carousel-caption">
                    <h4>
                        First Thumbnail label
                    </h4>
                    <p>
                        Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                    </p>
                </div>
            </div>-->
            <div style="width:50px">
                <img alt="Carousel Bootstrap Second" src="http://www.intelligentpos.com/img/clothes-shop.jpg" width="1350" height="400" />
                </div>

    <!--<h4>
                            Second Thumbnail label
                        </h4>
                        <p>
                            Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                        </p>
                    </div>
                </div>
                <div class="item">
                    <img alt="Carousel Bootstrap Third" src="http://2.bp.blogspot.com/-AhtTkhByViQ/TZqaGp9POII/AAAAAAAAAOs/sgS7Sdt5e8E/s1600/wpid6491-002.jpg" />
                    <div class="carousel-caption">
                        <h4>
                            Third Thumbnail label
                        </h4>
                        <p>
                            Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                        </p>
                    </div>
                </div>
            </div>
    </div>
        <a class="left carousel-control" href="#carousel-72530" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-72530" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
        <div class="row">
            <div class="col-md-4">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                </div>
            </div>
            </div>
   
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    <div class="row">
        <div class="col-md-4">
            <h2>First Item</h2>
            <img src="http://g02.s.alicdn.com/kf/HTB1GwDBHVXXXXc_XVXXq6xXFXXX2/Dondoors-home-textile.jpg">



            <p><a class="btn btn-default" href="/detail">Detail </a></p>
        </div>
        <div class="col-md-4">
            <h2>Second Item</h2>
            <img src="http://g02.s.alicdn.com/kf/HTB1GwDBHVXXXXc_XVXXq6xXFXXX2/Dondoors-home-textile.jpg">


            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Detail</a></p>
        </div>
        <div class="col-md-4">
            <h2>Third Item</h2>
            <img src="http://g02.s.alicdn.com/kf/HTB1GwDBHVXXXXc_XVXXq6xXFXXX2/Dondoors-home-textile.jpg">


            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Detail </a></p>
        </div>

    </div>
<div class ="row">
    <div class="col-md-4">
        <h2>First Item</h2>
        <img src="http://www.sheromeda.com/medias/images/41tmtta1jal.-sx342-m5b.jpg">



        <p><a class="btn btn-default" href="/detail">Detail </a></p>
    </div>
    <div class="col-md-4">
        <h2>Second Item</h2>
        <img src="http://www.sheromeda.com/medias/images/41tmtta1jal.-sx342-m5b.jpg">

        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Detail</a></p>
    </div>
    <div class="col-md-4">
        <h2>Third Item</h2>
        <img src="http://www.sheromeda.com/medias/images/41tmtta1jal.-sx342-m5b.jpg">

        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Detail </a></p>
    </div>

    </div>
 -->

<div ng-controller="ProductsListController as main">
    <h2 id="border1" class="joshuasCenteredClass">Items In The Store</h2>
    <br />

    <div class="row joshuasCenteredClass">

        <div class="col-sm-3">
            <div>
            <a ng-click="main.details(2)">
                <div class="panel boards panel-default">
                    <div class="panel-heading">
                        name
                    </div>
                    <div class="panel-body">
                        <img class="img-responsive mainBoardImages" src="http://www.all4women.co.za/wp-content/uploads/2015/01/aztec_989552113_detail.jpg">
                    </div>
                    <div class="panel-footer">
                        <p class="Footer">Price: 34.50</p>
                    </div>
                </div>
            </a>
</div>
        
        </div>

        <div class="col-sm-3">
            <a ng-click="main.details(2)">
                <div class="panel boards panel-default">
                    <div class="panel-heading">

                    </div>
                    <div class="panel-body">
                        <img class="img-responsive mainBoardImages" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRIb-cbNpBHQ5xLzVvcLBmCfU7hlWWzd_vmJWuz6phbD41cRyE">
                    </div>
                    <div class="panel-footer">
                        <p class="Footer">Price: 450.00</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-sm-3">
            <a ng-click="main.details(3)">
                <div class="panel boards panel-default">
                    <div class="panel-heading">

                    </div>
                    <div class="panel-body">
                        <img class="img-responsive mainBoardImages" src="http://www.raffaello-network.com/english/fashion-images/designer-mens-clothing/designer-mens-clothing-gucci.jpg">
                    </div>
                    <div class="panel-footer">
                        <p class="Footer">Price: 43.99</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-sm-3">
            <a ng-click="main.details(4)">
                <div class="panel boards panel-default">
                    <div class="panel-heading">
                    </div>
                    <div class="panel-body">
                        <img class="img-responsive mainBoardImages" src="http://upload1.tradetang.com/img/o/1208/03/13/112630/11263080798.jpg">
                    </div>
                    <div class="panel-footer">
                        <p class="Footer">Price: 120.00</p>
                    </div>
                </div>
            </a>
        </div>

    </div>

    <h2 id="border2" class="joshuasCenteredClass"></h2>
    <br />

    <div class="row joshuasCenteredClass">

        <div class="col-sm-3">
            <a ng-click="main.details(4)">
                <div class="panel boards panel-default">
                    <div class="panel-heading">
                    </div>
                    <div class="panel-body">
                        <img class="img-responsive mainBoardImages" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSylOi-x3luWHC4tXLWHgAKNOGX1BUKJn5GmAXcjOtjkSP_L2Ip">
                    </div>
                    <div class="panel-footer">
                        <p class="Footer">price:80.55</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-sm-3">
            <a href="/detail">
                <div class="panel boards panel-default">
                    <div class="panel-heading">
                    </div>
                    <div class="panel-body">
                        <img class="img-responsive mainBoardImages" src=" https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSyUzeTv2EYkLwqcNRgJJmNbdegh3SkX3bnIPIsEuuPA6qmZfaf">
                    </div>
                    <div class="panel-footer">
                        <p class="Footer">
                            price:45:00     detail
                           
                        </p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-sm-3">
            <a ng-click="main.details(2)">
                <div class="panel boards panel-default">
                    <div class="panel-heading">
                    </div>
                    <div class="panel-body">
                        <img class="img-responsive mainBoardImages" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSiAoZvfumQxU5aYnCEwg30mDZjICnftTjCSdDXViDeC1c-SBVfFA">
                    </div>
                    <div class="panel-footer">
                        <p class="collectibleFooter">price:65:99</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-sm-3">
            <a ng-click="main.details(1)">
                <div class="panel boards panel-default">
                    <div class="panel-heading">
                    </div>
                    <div class="panel-body">
                        <img class="img-responsive mainBoardImages" src="http://imsupermommy.com/wp-content/uploads/2014/05/Baby-Clothes-Stores-Online.jpg">
                    </div>
                    <div class="panel-footer">
                        <p class="collectibleFooter">price:20:30</p>
                    </div>
                </div>
            </a>
        </div>

    </div>
</div>


 