<div class="form-inline" style="resize:horizontal">


    <h2>Log In.</h2>
    <form ng-submit="account.login()">
        <div>
            <label>Email:</label><br />
            <input class="form-control" ng-model="account.email" type="text" />
        </div>
        <br />
        <div>
            <label>Password:</label><br />
            <input class="form-control" ng-model="account.password" type="password" />
        </div>
        <br />
        <div><a class="btn btn-default"
   href="/"
   style="width:90px ; height:30px">
   Log In
</a>
          <!-- <input style="margin-top:5px" type="submit" href="/products" value="Log In" />--> 
        </div>
    </form>
</div>